#app {
    font-family: sans-serif;
}
.main {
    max-width: 1280px;
    margin: 0 auto;
    @media screen and (max-width: 800px) {
        padding: 0 10px;
    }
}

button {
    font-family: sans-serif;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
//   transition-delay: all 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@keyframes grow{
    0% {
        width: 0;
    }
    100%{
        width: 97%;
    }
}


@keyframes growMobile{
    0% {
        width: 0;
    }
    100%{
        width: 92%;
    }
}
